/* NUNITO FONT */
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);

* {
    transition: all 0.3s;
}


body{
    font-family: 'Nunito', sans-serif;
}

header {
    box-sizing: border-box;
    /* DISPLAY */
    display: flex;
    justify-content: space-between;
    /* POSITION */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* BACKGROUND */
    background-color: #005c31;
    /* PADs & MARGs */
    padding: 1em;
    margin: 0em;
    /* TEXT */
    text-align: center;
}

h2 {
    /* FONT */
    font-size: 2em;
    color: #fff;
    /* MARGIN */
    margin: 0em;
}

h2:hover {
    color: #00ff00;
}

.close {
    /* POSITION */
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    /* BACKGROUND */
    background-color: transparent;
    border: none;
    /* FONT */
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    color: red;
    /* MISC */
    cursor: pointer;
}

.close:hover {
    color: darkred;
}